---
page_title: "Provider: Longship"
description: |-
  The Longship provider provides resources to interact with the Longship.io API.
---

# Longship Provider

The Longship provider is used to interact with resources supported by the
Longship CPO platform. The provider needs to be configured with the proper
credentials before it can be used.

## Getting Started

This provider must configured with an active instance of the Longship.io
platform. After you've generated a tenant and application key pair, proceed to
initializing the provider.

## Example Usage

First include the Longship.io provider in the list of required providers:

```terraform
terraform {
  required_providers {
    longship = {
      version = "0.1.14"
      source = "cbcoutinho/longship"
    }
  }
}
```

## Configuring the provider

It's possible to configure the provider using _variables_:

{{ tffile "examples/provider/provider.tf" }}

However, you could also use environmental variables as follows:

```shell
export LONGSHIP_HOST
export LONGSHIP_TENANT_KEY
export LONGSHIP_APPLICATION_KEY
```

{{ tffile "examples/provider/provider-env.tf" }}



{{ .SchemaMarkdown | trimspace }}
